[submodule "eigen.git"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "mpreal.git"]
	path = mpreal
	url = https://github.com/advanpix/mpreal.git
[submodule "exprtk.git"]
	path = exprtk
	url = https://github.com/ArashPartow/exprtk.git
[submodule "exprtk-custom-types.git"]
	path = exprtk-custom-types
	url = https://github.com/ArashPartow/exprtk-custom-types.git
[submodule "pybind11.git"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
