graft eigen
graft exprtk
graft exprtk-custom-types
graft mpreal
graft pybind11
graft pyvpmr
graft src
include patch_size.patch
prune eigen/.gitlab
prune eigen/bench
prune eigen/ci
prune eigen/cmake
prune eigen/debug
prune eigen/demos
prune eigen/doc
prune eigen/failtest
prune eigen/scripts
prune eigen/test
prune eigen/unsupported/bench
prune eigen/unsupported/doc
prune eigen/unsupported/test
prune exprtk/.circleci
prune mpreal/example
prune pybind11/.github
prune pybind11/docs
prune pybind11/tests
prune pybind11/tools
prune test
global-exclude .clang-format
global-exclude .clang-tidy
global-exclude .codespell-ignore-lines
global-exclude .git
global-exclude .git-blame-ignore-revs
global-exclude .gitattributes
global-exclude .gitignore
global-exclude .hgeol
global-exclude *.dat
global-exclude *.in
global-exclude *.sh
global-exclude *.txt
global-exclude *.yaml
global-exclude *.yml
global-exclude *cmake*
global-exclude changelog*
global-exclude COPYING.*
global-exclude INSTALL
global-exclude LICENSE
global-exclude Makefile
